<launch>
  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find ar2a_control)/config/ar2a_control.yaml" command="load" />
  
  <!-- load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" 
    type="spawner" respawn="false" 
    output="screen" ns="/AR2A" 
    args="joint_state_controller
      rightFrontWheel_effort_controller
      rightMiddleWheel_effort_controller
      rightBackWheel_effort_controller
      leftFrontWheel_effort_controller
      leftMiddleWheel_effort_controller
      leftBackWheel_effort_controller" />
      
  <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
    <param name="robot_description" command="$(find xacro)/xacro.py '$(find ar2a_description)/urdf/ar2a.xacro'" />
    <remap from="/joint_states" to="/AR2A/joint_states" />
  </node>
</launch>
